{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">Applying for a flying license
      </h1>

      <form class="form" action="/url/of/next/page" method="post">
        <p>hkdlfgjirteklfds,vngeijrdfklv</p>

        <div class="form-group">
  <label class="form-label" for="first-name-2">First name</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<div class="form-group">
  <label class="form-label" for="last-name-2">Last name</label>
  <input class="form-control" id="last-name-2" name="last-name-2" type="text">
</div>


        <form>
          <fieldset>

            <legend>
              <h3 class="heading-medium">What type of license are you applying for?</h3>
              <span class="body-text">Select all that apply</span>
            </legend>

            <div class="multiple-choice">
              <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
              <label for="waste-type-1">Motorbike</label>
            </div>
            <div class="multiple-choice">
              <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
              <label for="waste-type-2">Hoverboard</label>
            </div>
            <div class="multiple-choice">
              <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
              <label for="waste-type-3">Scooter</label>

                          <br><br><br></div>

            <br><br><br>

          </fieldset>
        </form>


        <div class="form-group">
          <a class="button button-start" href="confirmation-page" role="button">Start now</a>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
